doctype html
html
  head
  title 上传图片
  style.
    *{
      margin: 0;
      padding: 0;
    }
    h1{
        color:red;
    }
    .icon1{
        margin-top: 55px;
        margin-left: 55px;
    }
    .upload-bg{
        position: relative;
        width: 160px;
        height: 160px;
        border: 2px dashed gray;
        border-radius: 5px;
    }
    .upload-bg:hover{
        border: 2px dashed rgb(21, 83, 216);;
    }
    #upload{
        display: none;
    }
    #up-btn{
        display:none;
    }
    form>div>div{
        float:left;
    }
    .view-img img{
        margin-left:50px;
        width:160px;
        height:160px;
        border: 0px solid transparent;
        
    }
    #show-img-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(10,10,10,0.8);
      display: none;
    }
    #show-img-bg img{
      width: 30%;
      margin-left: 35%;
      margin-top: 10%;
    }
    #icon{
      position: absolute;
      right: 60px;
      top: 60px;
    }
  body
    form(action="/upload/add", method="post", enctype="multipart/form-data")
      div
        .upload-bg(onclick='uploadBg()')
          svg.icon1(t='1602904781465' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2861' width='50' height='50')
            path(d='M853.333333 480H544V170.666667c0-17.066667-14.933333-32-32-32s-32 14.933333-32 32v309.333333H170.666667c-17.066667 0-32 14.933333-32 32s14.933333 32 32 32h309.333333V853.333333c0 17.066667 14.933333 32 32 32s32-14.933333 32-32V544H853.333333c17.066667 0 32-14.933333 32-32s-14.933333-32-32-32z' p-id='2862')
          input#upload(type='file' name='photo' onchange="handleUp(this)")
          input#up-btn(type="submit")
        .view-img( onclick="showPic()")
          img(src=imgUrl id="viewImg")

    //- 预览模块
    #show-img-bg
      div
        div
          #icon(onclick="closeBtn()")
            //- 关闭图标
            svg.icon2(t='1603096331833' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2861' width='40' height='40')
              path(d='M512 74.666667C270.933333 74.666667 74.666667 270.933333 74.666667 512S270.933333 949.333333 512 949.333333 949.333333 753.066667 949.333333 512 753.066667 74.666667 512 74.666667z m0 810.666666c-204.8 0-373.333333-168.533333-373.333333-373.333333S307.2 138.666667 512 138.666667 885.333333 307.2 885.333333 512 716.8 885.333333 512 885.333333z' p-id='2862' fill='#ffffff')
              path(d='M657.066667 360.533333c-12.8-12.8-32-12.8-44.8 0l-102.4 102.4-102.4-102.4c-12.8-12.8-32-12.8-44.8 0-12.8 12.8-12.8 32 0 44.8l102.4 102.4-102.4 102.4c-12.8 12.8-12.8 32 0 44.8 6.4 6.4 14.933333 8.533333 23.466666 8.533334s17.066667-2.133333 23.466667-8.533334l102.4-102.4 102.4 102.4c6.4 6.4 14.933333 8.533333 23.466667 8.533334s17.066667-2.133333 23.466666-8.533334c12.8-12.8 12.8-32 0-44.8l-106.666666-100.266666 102.4-102.4c12.8-12.8 12.8-34.133333 0-46.933334z' p-id='2863' fill='#ffffff')

        img(src="")


  script.

    let uploadBg = () => {
    let upload = document.getElementsByName("photo")[0];
    upload.click();
    }

    let handleUp = fileDom => {
      let upBtn = document.getElementById("up-btn");

      //- 判断是否是图片文件
      
      upBtn.click();
    }

    let showPic = () => {
      //- 获取预览模块
      let showImg = document.getElementById('show-img-bg');
      //- 获取预览模块的图片
      let setImg = showImg.getElementsByTagName('img')[0];
      //- 获取点击的图片的src值
      let getUrl = document.getElementById('viewImg').getAttribute('src');
      //- 让预览模块显示
      showImg.style.display="block";
      //- 把预览里的图片src值与被点击的一致
      setImg.setAttribute('src', getUrl);
    }

    //- 关闭预览层
    let closeBtn = () => {
       //- 获取预览模块
      let showImg = document.getElementById('show-img-bg');
      //- 关闭预览模块
      showImg.style.display="none";
    }
    